@model IEnumerable<SmartTechTask.Models.Product>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Ahmed Anwar">
    <meta name="keywords" content="Forms, ProductList, SmartTech, Ahmed Anwar">
    <meta name="description" content="CREATE PRODUCT LIST FORM WITH CREATE EDIT AND DELETE IN THE SAME PAGE.">
    <title>@ViewBag.Title</title>
    <!-- Stylesheets -->
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- Font Icons -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="~/Scripts/js/datatables/dataTables.bootstrap4.min.css">
    <!-- Custom Style-->
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link href="~/Content/css/LastUpdates.css" rel="stylesheet" />
</head>

<body class="grid-layout">
    <!-- Boxed Layout -->
    <div class="layout-wrapper">
        <!-- Top bar -->
        <div class="fm-topbar">
            <nav class="navbar navbar-expand-lg navbar-fixed-top navbar-default justify-content-between">
                <div class="navbar-header nav-logo">
                    <a href="#"><img src="~/Content/images/smartlogo.jpg" alt="logo" class="img-fluid"></a>
                </div>
            </nav>
        </div>
        <!-- /Top bar -->
        <!--page title-->
        <section class="fm-page-title fm-page-button">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xs-9">
                        <h2><a href="index-2.html"></a>My Task<span class="hidden-xs"> : Product Form</span></h2>
                    </div>
                    <div class="col-lg-6 col-xs-3">
                        <div class="text-right"> <a href="#" class="btn btn-secondary btn-round btn-lg" data-toggle="modal" data-target="#create-form2"><span class="hidden-xs">Create New </span><i class="fa fa-plus"></i></a> </div>
                    </div>
                </div>
            </div>
        </section>
        <!--create form modal popup-->
        <div class="modal fade create-form" id="create-form2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header-text">
                        <h5 class="modal-title">Create a New Product</h5>
                        <p>All field are required</p>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    </div>
                    <div class="modal-body text-center">
                        <div class="row no-gutters">
                            <div class="col-lg-12">
                                <div class="fm-form-type">
                                    <div class="content">
                                        @using (Html.BeginForm("Create", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                        {
                                            @Html.AntiForgeryToken()

                                            <div class="form-horizontal">
                                                <h4>Product</h4>
                                                <hr />
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                <div class="form-group row">
                                                    <label class="control-label col-md-2">Name</label>
                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control" name="Name" id="Name" required />
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="control-label col-md-2">Photo</label>
                                                    <div class="col-md-10">
                                                        <input type="file" accept="image/*" name="productPhoto" id="productPhoto" class="form-control" required />
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="control-label col-md-2">Price</label>
                                                    <div class="col-md-10">
                                                        <input type="number" min="0.00" step="0.01" class="form-control" name="Price" id="Price" required />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <input type="submit" value="Create" class="btn btn-secondary" />
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--create form modal popup-->
        <div style="background-image: url(../../Content/images/backimage.jpg); background-size:cover">
            <div class="container">
                <div class="content-wrapper">
                    <div class="fm-forms  mt-3 mb-3">
                        <!--Forms list-->
                        <div class="row no-gutters">
                            <!--Data tables Excel-->
                            <div class="col-lg-12">
                                <div class="form-right">
                                    <button class="btn-download-link" onclick="fnExceldownload()"> <i class="fa fa-download"></i>Excel Download </button>
                                </div>
                            </div>
                            <!--Data table-->
                            <div class="col-lg-12 mt-3">
                                <div class="card table-card">
                                    <table class="table  table-responsive table-striped table-bordered  no-footer" role="grid" aria-describedby="fm-datables_info" id="mytable">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting_asc" tabindex="0" aria-controls="fm-datables_wrapper" rowspan="1" colspan="1" aria-sort="ascending" style="width: 94.8px;">#</th>
                                                <th class="sorting" tabindex="0" aria-controls="fm-datables_wrapper" rowspan="1" colspan="1" style="width: 313.8px;">Name</th>
                                                <th class="sorting" tabindex="0" aria-controls="fm-datables_wrapper" rowspan="1" colspan="1" style="width: 176.8px;">Photo</th>
                                                <th class="sorting" tabindex="0" aria-controls="fm-datables_wrapper" rowspan="1" colspan="1" style="width: 159.8px;">Price</th>
                                                <th class="sorting" tabindex="0" aria-controls="fm-datables_wrapper" rowspan="1" colspan="1" style="width: 216.8px;">LastUpdated</th>
                                                <th class="sorting" tabindex="0" aria-controls="fm-datables_wrapper" rowspan="1" colspan="1" style="width: 215.8px;">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                string[] count = new string[] { "evener", "odder" };
                                                var x = 0;
                                                var listnumber = 1;
                                            }
                                            @foreach (var item in Model)
                                            {
                                                <tr role="row" class="@count[x]" id="rowvalues_@item.Id">
                                                    <td class="sorting_1">@listnumber</td>
                                                    <td id="defaultname_@item.Id">@item.Name</td>
                                                    <td><div class="text-center"><a href="~/@item.Photo" target="_blank"><img class="thumbnail productThumbnail" src="~/@item.Photo" id="defaultphoto_@item.Id" /></a></div></td>
                                                    <td id="defaultprice_@item.Id">$ @item.Price</td>
                                                    <td id="defaultupdate_@item.Id"> @item.LastUpdated</td>
                                                    <td>
                                                        <div class="btnaction col-md-12">
                                                            <button class="col-md-9 btn btn-secondary btn-round view-data-link" data-toggle="modal" data-target="#form-details" title="Show details" onclick="ShowDetails(@item.Id)"><span class="fa fa-address-card"></span></button>
                                                            <button class="col-md-9 btn btn-round btn-primary view-data-link" id="editproduct_@item.Id" onclick="Productedit(this.id, 0)" title="Edit data"><span class="fa fa-edit"></span></button>
                                                            <button class="col-md-9 btn  btn-round btn-danger view-data-link" id="deleteproduct_@item.Id" onclick="Productdelete(@item.Id)" title="Delete"><span class="fa fa-trash"></span></button>
                                                        </div>

                                                    </td>
                                                </tr>
                                                <tr class="ng-star-inserted roweditvalues @count[x]" id="roweditvalues_@item.Id">
                                                    <td class="sorting_1">@listnumber</td>
                                                    <td class="text-center text-center2"><input type="text" class="tableinputs" id="EditName_@item.Id" value="@item.Name" /></td>
                                                    <td class="text-center text-center2" id="imagess_@item.Id"><input type="file" accept="image/*" class="tableinputs" id="EditPhoto_@item.Id" onchange="displayAsImage(this.files[0], @item.Id)" style="display:none" /><img id="imgadd_@item.Id" onclick="addimages(this.id)" src="~/Content/images/addnewimage.jpg" class="thumbnail" width="150" style="cursor:pointer"></td>
                                                    <td class="text-center text-center2"><input type="number" min="0.00" step="0.01" class="tableinputs" id="EditPrice_@item.Id" value="@item.Price" style="width:100%" /></td>
                                                    <td class="text-center text-center2">@item.LastUpdated</td>
                                                    <td>
                                                        <button class="col-md-6 btn  btn-round btneditsave view-data-link" id="btneditsave_@item.Id" onclick="ActiveEdit(@item.Id)"><span class="fa fa-check" style="font-size: 16px;"></span></button>
                                                        <button class="col-md-6 btn  btn-round btneditcancel view-data-link" id="btneditcancel_@item.Id" onclick="CancelEdit(@item.Id)"><span class="fa fa-close" style="font-size: 16px;"></span></button>
                                                    </td>
                                                </tr>
                                                x = (x + 1) % 2;
                                                listnumber++;
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="form-details" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header-text">
                                        <h5 class="modal-title">Product Details</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="text-center" style="padding-top: 10px;">
                                            <img src="~/Content/images/smartlogo.jpg" class="detailsProductImg" id="detailsProductImg" />
                                        </div>
                                        
                                        <!--modal form-->
                                        <div class="modal-form">
                                            <table class="table table-responsive table-striped  table-bordered  no-footer" role="grid" aria-describedby="fm-datables_info">
                                                <thead>
                                                    <tr role="row">
                                                        <th>Name</th>
                                                        <th>Details</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr role="row" class="odd">
                                                        <td role="row" class="sorting_asc" style="width: 216.8px;">Product Name</td>
                                                        <td id="detailsProductName"> </td>
                                                    </tr>
                                                    <tr role="row" class="even">
                                                        <td class="sorting" style="width: 216.8px;">Price</td>
                                                        <td id="detailsProductPrice"> </td>
                                                    </tr>
                                                    <tr role="row" class="even">
                                                        <td class="sorting"  style="width: 216.8px;">Image Path</td>
                                                        <td id="detailsProductPath"></td>
                                                    </tr>
                                                    <tr role="row" class="even">
                                                        <td class="sorting" style="width: 216.8px;">Last Update</td>
                                                        <td id="detailsProductUpdate"></td>
                                                    </tr>
                                                    <tr role="row" class="even">
                                                        <td class="sorting" style="width: 216.8px;">Product ID</td>
                                                        <td id="detailsProductId"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <!---->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--modal-->
                    </div>
                </div>
            </div>
            <!-- Container wrapper -->
        </div>

    </div>
    <div class="footer">
        <p class="copyrights"> <span>SmartTech,</span> All Rights Reserved by ahmed.anwar.ibrahem66@gmail.com 2019. </p>
    </div>
    <!-- /Boxed Layout-->
    <!-- Script files-->
    <script src="~/Scripts/js/jquery.min.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Content/css/toastr.css" />
    <script src="~/Scripts/toastr.min.js"></script>
    <link rel="stylesheet" href="~/Content/css/jquery-confirm.css" />
    <script src="~/Scripts/jquery-confirm.js"></script>
    <!-- Datatables -->
    <script src="~/Scripts/js/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/js/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.0.3/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/colreorder/1.4.1/js/dataTables.colReorder.min.js"></script>
    <!--Data Table initialize-->
    <script>
        $(document).ready(function () {
            $('#mytable').DataTable({
                "lengthMenu": [[20, 50, 100, -1], [10, 25, 50, "All"]],
                "language": {
                    "info": "",
                },
                dom: 'Blfrtip',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        title: 'Products List',
                        exportOptions: {
                            columns: [0, 1, 3, 4]
                        },
                        text: 'Excel'
                    },
                    {
                        extend: 'print',
                        title: ' Products List',
                        exportOptions: {
                            columns: [0, 1, 3, 4]
                        },
                        text: 'Print Table'
                    }
                ]
            });
            $(".dt-buttons").hide();
        });
    </script>

    <!--Ajax Functions-->
    <script>
        function fnExceldownload() {
            $(".buttons-excel").trigger("click");
        }
        function Productedit(ids, check) {
            if (check == 0) {
                var x = ids.split("_")[1];
                $("#rowvalues_" + x).hide();
                $("#roweditvalues_" + x).show();
            }
        }
        function addimages(ids) {
            var x = ids.split("_")[1];
            $("#EditPhoto_" + x).trigger("click");
        }
        function displayAsImage(file, x) {
            var old = $('#updatesss_' + x);
            if (old != null) {
                old.remove();
            }
            var div = document.createElement('div');
            var imgURL = URL.createObjectURL(file), img = document.createElement('img');
            img.width = "200";
            img.height = "150";
            img.onload = function () {
                URL.revokeObjectURL(imgURL);
            };
            div.className = 'col-md-3 updatesss';
            div.id = 'updatesss_' + x;
            div.style = "padding-bottom: 18px;";
            img.src = imgURL;
            img.style = "border: 2px solid rgb(173, 33, 33);border-radius: 10px;"
            img.className = "imguplod";
            document.body.querySelector('#imagess_' + x).appendChild(div).appendChild(img);
        }
        function Productdelete(x) {

            $.confirm({
                title: 'Confirm Delete',
                content: 'Are you sure you want to delete this product?',
                buttons: {
                    confirm: function () {
                        $.ajax({
                            url: "@Url.Action("DeleteProduct", "Home")",
                            type: "POST",
                            data: { productid: x },
                            traditional: true,
                            success: function (dataa, errorMessage) {
                                $("#deleteproduct_" + x).closest("tr").remove();
                                $("#roweditvalues_" + x).remove();
                                toastr.warning(dataa.message);
                            }
                        });
                    },
                    cancel: function () { },
                }
            });
       }

        function CancelEdit(x) {
            $("#rowvalues_" + x).show();
            $("#roweditvalues_" + x).hide();
        }

        function ActiveEdit(x) {
            var fphoto = $("#EditPhoto_" + x).get(0).files[0];
            var data = new FormData();
            var fname = $("#EditName_" + x).val();
            var fprice = $("#EditPrice_" + x).val();
            data.append("imageUploadForm", fphoto);
            data.append("newname", fname);
            data.append("newprice", fprice);
            data.append("newid", x);
            $.ajax({
                url: "@Url.Action("EditProducts", "Home")",
                processData: false,
                contentType: false,
                type: "POST",
                data: data,
                success: function (dataa, errorMessage) {
                    $("#defaultname_" + x).html("" + dataa.names + "");
                    $("#defaultprice_" + x).html("" + dataa.prices + "");
                    var newlink = "../../" + dataa.photos;
                    $("#defaultphoto_" + x).attr('src', newlink);
                    $("#defaultupdate_" + x).html("@DateTime.Now");
                    $("#rowvalues_" + x).show();
                    $("#roweditvalues_" + x).hide();
                    toastr.info("Product Updated Successfully");
                },
            });
        }
        function ShowDetails(x) {
             $.ajax({
                url: "@Url.Action("ProductDetails", "Home")",
                type: "POST",
                data: { productid: x },
                traditional: true,
                success: function (dataa, errorMessage) {
                    $("#detailsProductId").html("" + dataa.proids + "");
                    $("#detailsProductName").html("" + dataa.names + "");
                    $("#detailsProductPath").html("" + dataa.photos + "");
                    $("#detailsProductPrice").html("" + dataa.prices + "");
                    var lastupdates = $("#defaultupdate_" + x).html();
                    $("#detailsProductUpdate").html("" + lastupdates + "");
                    var newlink = "../../" + dataa.photos;
                    $("#detailsProductImg").attr('src', newlink);
                }
            });
        }

    </script>


    @if (TempData["productadded"] == "Product Added Successfully")
    {
        <script>
            toastr.success("Product Added Successfully");
        </script>
    }

</body>

</html>